<div class="col-10 offset-1 about">
  <h1> About Splurty </h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/realsora">Sora Doh</a> 
  </p>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'me2.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Sora Doh</h2>
      <br />
      <p>
       I recently began my journey to computer programming through UT Coding Boot Camp. I have learned developing apps and building websites using both front-end and back-end programming languages. I am eager to gain more experience in the field. Therefore, I am currently looking for a job or an internship as a web developer. 
      </p>
    </div>
  </div>
 <br class="clear" />
      <br/>
      <br/>
      <br/>
      <br/>
</div>